.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.currency {
  margin: 10px;
}

input,
select {
  padding: 5px;
  margin: 10px;
}

button {
  padding: 5px;
  background-color: #111;
  color: aliceblue;
  border-radius: 5px;
}

input {
  text-align: right;
}
